@charset "UTF-8";
/* CSS Document */

/*iPhone X → design時の1/3でコーディング*/
/*ベースカラー：#3f261a*/
/*アクセントからー：#80273f*/


.contact-subject .subject{
    padding-bottom: 0;
}
.phone-number{

}
.submit-button{
    display: flex;
    justify-content: center;
}

/*---------------------
  category
---------------------*/
.contact .contact-content{
    padding-bottom: 50px;
}
.contact-type{
    color: #80273f;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}
.contact-type>p{
    display: flex;
    align-items: center;
}
.imperative{
    display: inline-block;
    margin: auto 0;
    padding-left: 15px;
    font-size: 10px;
}
.input-text{
    position: relative;
}
.input-name{
    width: 100%;
    padding-bottom: 26px;
}
.input-text>input[type='text'],[type='tel'],[type='email'] {
    position: relative;
	font-size: 13px;
	width: 100%;
    border-bottom:#6d6d6d 1px solid;
}
textarea{
    position: relative;
	font-size: 13px;
	width: 100%;
    height: 200px;
    resize: none;
    border:#6d6d6d 1px solid;
    box-sizing:border-box;
}
.input-name:last-of-type{
    padding-bottom: 0;
}
/*---------------------
 *---------------------
 *PC
 *---------------------
 *---------------------*/
@media screen and (min-width:560px){
    .subject-wrapper.contact-subject{
        justify-content: center;
        margin-bottom: 100px;
    }
    .subject-wrapper.contact-subject .subject{
        width: auto;
        padding-right: 0;
    }
    .subject-wrapper.contact-subject .subject>h1,h2{
        display: inherit;
    }
    .subject-wrapper.contact-subject .subject>h2 .space-one{
        display: inherit;
        padding-bottom: 20px;
    }
    .subject-wrapper.contact-subject .subject .page-titel{
        text-align: center;
    }
    /*---------------------
      category
    ---------------------*/
    section.contact{
        padding-bottom: 150px;
    }
    .contact .contact-content{
        padding-bottom: 150px;
    }
    .contact-type{
        font-size: 35px;
        padding-bottom: 30px;
    }
    .imperative{
        padding-left: 25px;
        font-size: 18px;
    }
    .input-text{
        position: relative;
    }
    .input-name{
        display: inline-block;
        width: 45%;
        padding-bottom: 0;
    }
    .input-text>input[type='text'],[type='tel'],[type='email'] {
        font-size: 25px;
        padding-bottom: 10px;
    }
    textarea{
        font-size: 20px;
        height: 300px;
    }
    .input-name:last-of-type{
        float: right;
    }
    .submit-button .btn{
        padding: 2% 3%;
    }
}